{:paths ["activitypub-core/src"
         "activitypub-ring/src"]
 :deps {clj-activitypub/activitypub-core {:local/root "activitypub-core"}
        clj-activitypub/activitypub-ring {:local/root "activitypub-ring"}
        mvxcvi/clj-pgp {:mvn/version "1.1.0"}
        org.bouncycastle/bcpkix-jdk18on {:mvn/version "1.72"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.5" :git/sha "9c738da"}
                          slipset/deps-deploy {:mvn/version "RELEASE"}}
                   :ns-default build}}}